/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 28px;
}

section {
  margin: 50px 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="file"],
input[type="number"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="submit"],
button[type="button"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #555;
}

#product-list,
#order-list {
  list-style-type: none;
  padding: 0;
}

.btn-check-order,
.btn-delete,
.btn-receive-order {
  margin-left: 10px;
}
