/* Header */
header {
    background-color: #0077be;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  /* Main section */
  main {
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .option {
    width: 30%;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  h3 {
    font-size: 
  